import * as React from 'react';
import { memo } from 'react';
import { FunctionComponent, ReactElement } from 'react';
import './{{ dashCase name }}.styl';

interface IProps {

}

const {{ properCase name }}: FunctionComponent<IProps> = memo((props) => {
  const { } = props;

  return (
    <div className="{{ dashCase name }}">
      <div className="{{ dashCase name }}__container">

      </div>
    </div>
  );
});

{{ properCase name }}.defaultProps = {

};

export default {{ properCase name }};
